# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# Streamlit (Allow config for deployment)
# .streamlit/ 

# Data (Sensitive or large files)
data/*.json

# OS
.DS_Store
Thumbs.db
